body
{
	background: black;
}
h1, h3,h4
{
	color: white;
	text-align: center;
}
h4 a
{
	color: rgb(220, 220, 220);
	text-decoration: none;
}
h4 a:hover
{
	color: white;
	text-decoration: none;
}

#contenedor, #controles
{
	display: block;
	width: 32%;
	margin: 0 auto;
}
input, button
{
	margin: 2% 1%;
	width: 46%;
	float: left;
}
p{
	clear: both;
	padding: 5px;
	color: rgb(200, 200, 200);
}