<form id="form_productos" method="POST" action="../action/productos.php">
	<fieldset>
		<legend>Registro de productos</legend>
			<div class="division">
			   	<label for="nombre_del_producto">Nombre del Producto: *</label>
			   	<input required name="nombre_del_producto" type="text" maxlength="500" placeholder="Nombre Completo" autofocus/>
			</div>	
			<div class="division">
			   	<label for="asunto">Cantidad:  *</label>
			   	<input required name="cantidad" type="number" min="1" max="500" maxlength="500" placeholder="Ingrese la cantidad" />
			</div>	
			<div class="division">
			   	<label for="precio">Precio: *</label>
			   	<input required name="precio" type="text" maxlength="100" placeholder="00.00"/>
			</div>	
			<div class="division">
			   	<label for="proveedor">Proveedor: *</label>
			   	<input required name="proveedor" type="text" maxlength="200" placeholder="Proveedor"/>
			</div>		   	   	
			<div class="division">
			   	<label for="imagen">Imagen: *</label>
				<input type="file" name="imagen" multiple />
			</div>		   	   		
		<input type="submit" value="Registrar Producto"/>
	</fieldset>
</form>

<section class="producto">
	<section class="producto_nombre">Arena para gato</section>
	<section class="producto_imagen1"></section>	
</section> 
<section class="producto">
	<section class="producto_nombre">Casas portable</section>
	<section class="producto_imagen2"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Juguetes</section>
	<section class="producto_imagen3"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Jabones</section>
	<section class="producto_imagen4"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Shampoos</section>
	<section class="producto_imagen5"></section>
</section> <section class="producto">
	<section class="producto_nombre">camas</section>
	<section class="producto_imagen6"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Lociones</section>
	<section class="producto_imagen7"></section>	
</section> 
<section class="producto">
	<section class="producto_nombre">Comida</section>
	<section class="producto_imagen8"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Propac Dog</section>
	<section class="producto_imagen9"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Repto Mini</section>
	<section class="producto_imagen10"></section>
</section> 
<section class="producto">
	<section class="producto_nombre">Collares</section>
	<section class="producto_imagen11"></section>
</section> <section class="producto">
	<section class="producto_nombre">Whiskas</section>
	<section class="producto_imagen12"></section>
</section> 

<h2>
	PRODUCTOS
</h2>
<p>
	En veterinaria YAYITA contamos con los siguientes productos para nuestros animales de compañía:
</p>

<ul>
	<li>
		Arena para gato              	
	</li>
	<li>
		Bolsas para transporte     		
	</li>
	<li>
		Placas de identificación   		
	</li>
	<li>
		Jabones anti pulgas         	
	</li>
	<li>
		Espumas limpiadoras        		
	</li>
	<li>
		Camas                           
	</li>
	<li>
		Shampoo
	</li>
	<li>
		Alimento para peces y muchos mas.
	</li>

	<li>
		Alimento para perros
	</li>
	<li>
		Alimento para tortuga
	</li>
	<li>
		Correas
	</li>
	<li>
	Alimento para gatos
	</li>
	<li>
		Carnazas para perros
	</li>
	<li>
		Collares
	</li>
</ul>