<form id="form_contacto">
	<fieldset>
		<legend>Registro de Servicios</legend>
			<div class="division">
			   	<label for="nombre_del_servicio">Nombre del Servicio: *</label>
			   	<input required name="nombre_del_servicio" type="text" maxlength="500" placeholder="Nombre del servicion" autofocus/>
			</div>	
			<div class="division">
			   	<label for="descripcion">Descripcion:  *</label>
			   	<input required name="descripcion" type="text" maxlength="500" placeholder="Descripcion del producto" />
			</div>	
			<div class="division">
			   	<label for="precio">Precio: *</label>
			   	<input required name="precio" type="text" maxlength="50" placeholder="00.00" />
			</div>	
			<div class="division">
			   	<label for="imagen">Imagen: *</label>
				<input type="file" name="imagen" multiple />
			</div>	

		<input type="submit" value="Registrar Servicio"/>
	</fieldset>
</form>
<section class="servicio">
	<section class="servicio_nombre">Estetica Animal</section>
	<section class="servicio_imagen1"></section>	
</section> 
<section class="servicio">
	<section class="servicio_nombre">Rayos X</section>
	<section class="servicio_imagen2"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">Cuidado</section>
	<section class="servicio_imagen3"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">Servicio Alojamiento Temporal</section>
	<section class="servicio_imagen4"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">Consulta Medica</section>
	<section class="servicio_imagen5"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">Vacunaciones</section>
	<section class="servicio_imagen6"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">LOCIONES</section>
	<section class="servicio_imagen7"></section>	
</section> 
<section class="servicio">
	<section class="servicio_nombre">Servicio de Cremacion</section>
	<section class="servicio_imagen8"></section>
</section> 
<section class="servicio">
	<section class="servicio_nombre">Emergencias</section>
	<section class="servicio_imagen9"></section>
</section> 

<h2>
	SERVICIOS 
</h2>
	MEDICINA CLINICA
<p>
Nos encargamos del diagnóstico de las enfermedades que afectan a los animales 
domésticos y silvestres.
</p>

<h2>
Contamos con :
</h2>
<ul>
	<li>
		Médicos veterinarios que se han especializado en el cuidado y salud de las pequeñas mascotas
	</li>
	<li>
 		Cirujano especialista en cirugía general y ortopedia.
	</li>
</ul>


<h2>
	MEDICINA PREVENTIVA
</h2>
<p>
Tomamos las medidas necesarias para evitar que nuestros animales se enfermen 
entre estas medidas se encuentran acciones simples pero 
eficaces como son las siguientes:
</p>

<p>
Desparasitación y vacunación previa a la gestación de las hembras.
</p>

<ul>
	<li>
		Desparasitación y vacunación de cachorros después del destete.
	</li>
	<li>
		Llevar al menos una vez al año a nuestra mascota a una revisión clínica rutinaria.
	</li>
	<li>
		Administrar una dieta balanceada y apropiada para nuestra mascota.
	</li>
</ul>
<h2>
	BIENESTAR Y ESTETICA ANIMAL
</h2>
<p>
	En veterinaria YAYITA contamos con los siguientes servicios: 
</p>
<ul>
	<li>
		Vacunaciones
	</li>
	<li>
		Estética canina
	</li>
	<li>
		Consulta medica
	</li>
	<li>
		Servicio de alojamiento temporal 
	</li>
	<li>
		Farmacia
	</li>
	<li>
		Ultrasonido
	</li>
	<li>
		Desparasitaciones
	</li>
	<li>
		Odontología veterinaria
	</li>
	<li>
		Rayos x
	</li>
	<li>
		Análisis clínicos
	</li>
	<li>
		Servicio de cremación
	</li>
	<li>
		Cirugía general y especial
	</li>
</ul>
