{%extends 'baseLoginTemplate.html'%}
{%block title%}
Administrador
{%endblock%}
{%block usuario%}
{{administrador}}
{%endblock%}

{%block sistema%}
	<li><a href="#">Registrar Usuario</a></li>
	<li><a href="../frontal/CrearCursoFrontalAction.php">Crear Curso</a></li>
	<li><a href="../frontal/CrearGestionFrontalAction.php">Crear Gestion</a></li>
	<li><a href="../frontal/CrearParaleloFrontalAction.php">Crear Paralelo</a></li>
	<li><a href="#">Listar Cursos</a></li>
	<li><a href="#">Asignar Docente</a></li>
	<li><a href="#">Ayuda de administración</a></li>
{%endblock%}

{%block contenido%}

{%endblock%}